.verb-test {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1.5rem;
    padding-bottom: 0;
    &__inputwrapper {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 1rem;
    }
    &__verb {
        width: 110%;
        background-color: #EBB348;
        color: black;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        margin-bottom: 1.5rem;
        .currentVerb {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
            text-transform: capitalize;
        }
    }
    &__answermsg {
        .answer-status {
            margin: 1rem 0;
            margin-bottom: 0;
            font-size: 1rem;
            color: white;
        }
    }
    &__answerCounter {
        width: 100%;
        margin-top: 1.5rem;
        padding-right: .5rem;
        display: flex;
        justify-content: space-between;
    }
}
.englishInputsText {
    @include input-text;
    &:focus {
        border-bottom: 2px solid $secondary-color;
    }
    &:hover{
        cursor: not-allowed;
    }
}
.input--empty {
    border-bottom: 2px solid yellow!important;
    color: yellow;
    &:before {
        content: '\26A0';
    }
}
.input--wrong {
    border-bottom: 2px solid red!important;
    color: red;
    &:before {
        content: ' \2718';
    }
}
.input--correct {
    border-bottom: 2px solid rgb(11, 180, 11)!important;
    color: rgb(11, 180, 11);
    &:before {
        content: ' \2714';
    }
}
.btn--check, .btn--skip, .btn--start {
    @include button;
}
.btn--check {
    margin: 1rem 0;
    border: 2px solid white;
    padding: 0.5rem;
    font-weight: bold;
    &:hover {
        border: 2px solid $secondary-color;
        cursor: not-allowed;
    }
}
.btn--skip {
    border: none;
    border-bottom: 2px solid white;
    padding: 0;
    font-weight: normal;
    margin-left: .5rem;
    &:hover {
        border-bottom: 2px solid $secondary-color;
        cursor: not-allowed;
    }
}
.btn--start {
    padding: 0 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    &:hover {
        color: black;
        background-color: #EBB348;
        cursor: pointer;
    }
}
.timer-info {
    margin: 0;
    font-family: 'Roboto';
    &__counter {
        margin-right: 1rem;
    }
}
.countdown {
    @extend .timer-info;
    font-size: 1.2rem;
}
.results-test {
    @extend .verb-test;
    margin: 1rem 0;
    padding: 1rem;
    &__header {
        width: 100%;
        padding: .5rem .5rem 0 .5rem;
        border-bottom: 2px solid $primary-color;
        p {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            span {
                font-weight: normal;
            }
        }
    }
}
.table-section {
  color: black;
  &__button {
  
  }
  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; //enable scroll if needed
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    border: 2px solid #dddddd;
    border-radius: 5px;
    &__close {
      color: #aaaaaa;
      float: right;
      font-size: 1.7rem;
      font-weight: bold;
      &:hover {
        color: red;
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__table {
      width: 100%;
      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    }
  }
}
