@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$font: 'Public Sans', sans-serif;
$primary-color: #242526;
$secondary-color: orange;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #18191a;
    font-family: $font;
    font-size: 16px!important;
    color: white;
}
#content {
    padding: 2rem;
    text-align: center;
}