@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$background-color: gray;

body {
    background-color: $background-color;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: white;
}