@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

$font: 'Public Sans', sans-serif;
$primary-color: #242526;
$secondary-color: #EBB348;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
    background-color: #18191a;
    font-family: $font;
    font-size: 16px!important;
    color: white;
}
.Main {
    position: relative;
    width: 100%;
    height: 100vh;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 3rem 3rem 0 3rem;
}
input {
    outline: none;
}
p {
    margin: 0;
}