.main-page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
#channel-form {
    width: 33%;
    display: flex;
    align-items: center;
}
#channel-input {
    @include input-text;
    &:focus {
        border-bottom: 2px solid $secondary-color;
    }
}
.channels-icons {
    display: flex;
    justify-content: center;
    width: 33%;
    &__item {
        margin: 0 10px;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }
    }
}
.channel-submit, #updateVideos {
    @include button;
    border: 2px solid white;
    &:hover{
        border: 2px solid $secondary-color;
        cursor: pointer;
    }
}
.channel-submit {
    margin-left: 10px;
}
.updatebtn-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 33%;
}
.carousel {
    position: relative;
    width: 100%;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: $secondary-color #18191a;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: #18191a;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 20px;
        border: 3px solid #18191a;
    }
}
.wrapper-video {
    white-space: nowrap;
    &:hover .wrapper-video__item {
        opacity: 0.5;
    }
    &:hover .wrapper-video__item:hover {
        transform: scale(1.2);
        opacity: 1;
    }
    &__item {
        display: inline-block;
        width: 300px;
        height: 200px;
        transition: 450ms all;
        transform-origin: center left;
        overflow: hidden;
        margin-right: 10px;
        &:hover ~ .wrapper-video__item {
            transform: translate3d(100px, 0, 0);
        }
    }
}