.notes-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 1px dashed yellow;
  &__content {
    @include input-text;
    width: 50%;
  }
  &__button {
    @include button; 
    border: 1px solid #ffffff;
    &:hover {
      color: $secondary-color;
      border: 1px solid $secondary-color;
      cursor: pointer;
    }
  }
  &__notecolor {
    &:hover {
      cursor: pointer;
    }
  }
}

.notes-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
  border: 1px dashed red;
}

.note {
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  overflow: auto;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    .note-delete {
      height: auto;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
   &__content{
    padding: 5px 15px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $primary-color;
  }
  &::-webkit-scrollbar-thumb {
    margin: 2px;
    background-color: white;
    border-radius: 20px;
  }
}
