.note-title {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: black;
  background-color: $secondary-color;
}
.note-separator {
  width: 100%;
  border: 0;
  height: 2px;
  margin: 20px 0;
  background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0),
                    rgba(235, 179, 72, 1),
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0),
                    );
}
.notes-form {
  display: grid;
  grid-template: repeat(3, 1fr) /repeat(2, 1fr);
  gap: 10px;
  width: auto; 
  padding: 15px;
  grid-template-areas: "note noteDate"
                       "note noteColor"
                       "note noteButton";
  &__content {
    width: 250px;
    height: 200px;
    border: none;
    border: 2px solid #ffffff; 
    border-radius: 5px;
    background: none;
    color: #ffffff;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
    resize: none;
    grid-area: note;
    justify-self: flex-end;
    &:focus {
      outline: none;
    }
  }
  &__button {
    @include button; 
    grid-area: noteButton;
    justify-self: center;
    align-self: center;
    border: 1px solid #ffffff;
    width: 150px;
    height: 50px;
    &:hover {
      color: $secondary-color;
      border: 1px solid $secondary-color;
      cursor: pointer;
    }
  }
  &__notecolor {
    grid-area: noteColor;
    justify-self: center;
    align-self: center;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__date {
    @include input-text;
    height: 30px;
    text-transform: uppercase;
    grid-area: noteDate; 
    justify-self: center; 
    align-self: center;
    &::-webkit-calendar-picker-indicator {
      background-color: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
    &::-webkit-datetime-edit-text, 
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-year-field {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.notes-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 15px;
}

.note {
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  overflow: auto;
  word-wrap: break-word;
  font-family: 'Indie Flower', cursive;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    .note-delete {
      height: auto;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
  &__content {
    padding: 5px 15px;
    font-size: 1.3rem;
    &:first-letter {
      text-transform: capitalize; 
    }
  }
  &__header {
    font-size: 1.1rem;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $primary-color;
  }
  &::-webkit-scrollbar-thumb {
    margin: 2px;
    background-color: white;
    border-radius: 20px;
  }
}
